.tab-item {
    text-decoration: none;
    color: unset;

    display: flex;
    min-width: fit-content;
    width: 10rem;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;

    border-radius: 1rem 1rem 0rem 0rem;
    background: var(--BG-Extra-Color-1, #DAECFF);
}

.tab-item.active {
    height: 2.75rem;
    padding: 0.4rem 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    background: var(--BG-Color-2, #FFF);
}

.tab-label {
    color: var(--Text-Color-1, #585858);
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    min-width: 8rem;
    width: max-content;
    flex: 1 0 0;
}

.tab-secondary {
    color: var(--Text-Color-1, #585858);
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-width: 4rem;
    flex: 1 0 0;
}