<div class="row w-100">
    <div class="col-lg-5 col-md-12 d-flex align-items-center justify-content-center">
        <ngb-alert #selfClosingAlert *ngIf="errorMessage" type="success" (closed)="errorMessage = ''">{{ errorMessage }}</ngb-alert>
        <form name="professor-form" class="w-75" novalidate>
            <p class="fs-5 mb-1">Clase</p>
            <input class="input-typeahead w-100 fs-5 mb-4" type="text" placeholder="Ingrese el nombre de la clase" name="course" [(ngModel)]="selectedCourse" [ngbTypeahead]="searchCourses" [inputFormatter]="courseFormatter" [resultFormatter]="courseFormatter" [editable]="false"/>
            <p class="fs-5 mb-1">Docente</p>
            <input class="input-typeahead w-100 fs-5 mb-4" type="text" placeholder="Ingrese el nombre del profesor" name="professor" [(ngModel)]="selectedProfessor" [ngbTypeahead]="searchProfessors" [inputFormatter]="professorFormatter" [resultFormatter]="professorFormatter" [editable]="false"/>
            <button id="register-class-btn" class="btn btn-outline-dark" type="button" (click)="registerClassEntry()">Registrar</button>
        </form>
    </div>
    <div class="col-lg-2 d-none d-lg-block d-xl-block position-relative">
        <div class="vertical-line position-absolute top-50 start-50 translate-middle h-75"></div>
    </div>
    <div class="col-lg-5 col-md-12 d-flex align-items-center justify-content-center">
        <img alt="Clases vector" src="assets/images/clases_vector.jpg" width="500rem"/>
    </div>
</div>
