@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Open Sans';
    src: local("OpenSans"), url("../../../assets/fonts/OpenSans.ttf") format("truetype");
}

html,
body {
    font-size: calc(12px + 0.1vw);
    /* 14px */
    font-family: 'Open Sans';
}

:root {
    --BG-Color-1: #EFFBFF;
    --BG-Color-2: #FFF;
    --Text-Color-1: #585858;
    --Text-Color-2: #1567BF;
    --Text-Color-3: #FFFFFF;
    --BG-Extra-Color-1: #DAECFF;
    --BG-Extra-Color-4: #B2D7FF;
    --Stroke-Color-Input-2: #D4DCE6;
    --BG-Color-3-Gradient: radial-gradient(178.9% 116.43% at 63.06% 21.09%, var(--Text-Color-2, #1567BF) 26.12%, #074F9C 100%);
    --BG-Color-1-Gradient: radial-gradient(109.93% 117.34% at 94.01% 8.33%, var(--BG-Color-1, #EFFBFF) 25%, var(--BG-Extra-Color-1, #DAECFF) 100%);

    --Button-Text-Color: var(--Text-Color-3);
    --Button-BG-Color-Primary: #12E08A;
    --Button-BG-Color-Primary-Hover: #06b86e;
    --Button-BG-Color-Secondary: var(--Text-Color-2);
    --Button-BG-Color-Danger: #F74040;

    --Input-BG-Color-1: #F9F9F9;
    --Input-BG-Color-3: var(--BG-Color-2);
    --Input-Stroke-Color-1: #F3F3F3;
    --Input-Color-1: var(--Text-Color-1, #585858);
    --Input-Color-1-Focus: var(--Text-Color-2, #1567BF);
}

.ti {
    /* aspect-ratio: 1; */
    font-size: 1rem;
    width: fit-content;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans' !important;
}

.ti::before {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "tabler-icons" !important;
    align-self: stretch;
    aspect-ratio: 1/1;
    
    height: 1rem;
    width: fit-content;
    font-size: 1.5rem;
}