:host {
    display: flex;
    flex-grow: 1;
}

.navbar-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    gap: 0.25rem;
    align-self: stretch;
}

.navbar-section ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    gap: 0.5rem;
    align-self: stretch;
}

.navbar-section li {
    width: 100%;
    list-style: none;
    display: flex;
    flex-grow: 1;
}

.navbar-section-title {
    margin: 0;
    align-self: stretch;

    color: var(--Text-Color-1, #585858);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}