<div class="row w-100 gy-4 mt-4">
    <div class="col-lg-5 col-md-12 d-flex flex-column align-items-center justify-content-center">
        <!-- Alerta de error al no ingresar correctamente el campo -->
        <ngb-alert #selfClosingAlert *ngIf="errorMessage" type="danger" (closed)="errorMessage = ''" class="w-75 mb-4">{{ errorMessage }}</ngb-alert>
        <!-- Clase actual -->
        <div class="w-75">
            <h4 class="fs-4">{{ currentCourse.name }}</h4>
            <h5 class="mb-4 fs-5">{{ currentCourse.professor.name }}</h5>
        </div>
        <!-- Campo para ingresar la matricula del alumno -->
        <form name="professor-form" class="w-75" novalidate>
            <p class="fs-5 mb-1">Alumno</p>
            <input class="input-typeahead w-100 fs-5 mb-4" type="number" placeholder="Ingrese la matricula del alumno" name="student" [(ngModel)]="studentId"/>
            <button id="register-class-btn" class="btn btn-outline-dark" type="button" (click)="registerStudentEntry()">Registrar</button>
        </form>
    </div>
    <div class="col-lg-2 d-none d-lg-block d-xl-block position-relative">
        <div class="vertical-line position-absolute top-50 start-50 translate-middle h-75"></div>
    </div>
    <div class="col-lg-5 col-md-12 d-flex align-items-center justify-content-center">
        <div id="qr-scanner" class="border rounded w-75" style="overflow: hidden;">
            <zxing-scanner
                [enable]="scannerEnabled"
                [device]="myDevice"
                (camerasFound)="camerasFoundHandler($event)"
                (scanSuccess)="scanSuccessHandler($event)"
            ></zxing-scanner>
            <div class="d-flex align-items-start justify-content-center m-2">
                <p class="fs-6 pe-1">Camara:</p>
                <select class="fs-6" #selectList (change)="selectCamera(selectList.value)">
                    <option *ngFor="let camera of cameras" value={{camera.label}}>{{ camera.label }}</option>
                </select>
            </div>
        </div>
    </div>
</div>
