.tab-action {
    text-decoration: none;
    color: unset;
    
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    line-height: normal;

    display: flex;
    min-width: fit-content;

    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;

    border-radius: 1rem 1rem 0rem 0rem;
    background: var(--BG-Extra-Color-2, #E5FFEF);
}

.tab-action>* {
    display: inline-flex;
}

.tab-action.active {
    height: 2.75rem;
    padding: 0.4rem 1rem;
}