.btn {
    outline: none;
    border: none;

    --btn-bg-color: var(--Button-BG-Color-Primary);
    --btn-text-color: var(--Button-Text-Color);

    display: inline-flex;
    padding: 0.25rem 0.5rem;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-weight: 400;
    transition: 0.1s ease all;
}

.btn.btn-icon {
    padding: 0.25rem 0.5rem;
}

.btn.btn-big {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.5rem;
    font-style: normal;
}

.btn.btn-big .icon::before {
    font-size: 2rem;
    height: 1.5rem;
}

.btn:active {
    --btn-bg-color: var(--Button-BG-Color-Primary-Hover);
    background-color: var(--btn-bg-color);
    transform: scale(0.98);
}

.btn:hover {
    --btn-bg-color: var(--Button-BG-Color-Primary-Hover);
    background-color: var(--btn-bg-color);
}

.btn.primary {
    --btn-bg-color: var(--Button-BG-Color-Primary);
    --btn-text-color: var(--Button-Text-Color);
}

.btn.primary:active {
    --btn-bg-color: var(--Button-BG-Color-Primary-Hover);
    transform: scale(0.98);}

.btn.primary:hover {
    --btn-bg-color: var(--Button-BG-Color-Primary-Hover);}

.btn.secondary {
    --btn-bg-color: var(--Button-BG-Color-Secondary);
    --btn-text-color: var(--Button-Text-Color);
}

.btn.secondary:active {}

.btn.secondary:hover {}

.btn.danger {
    --btn-bg-color: var(--Button-BG-Color-Danger);
    --btn-text-color: var(--Button-Text-Color);
}

.btn.danger:active {}

.btn.danger:hover {}
