<form name="form" class="form" novalidate>
    <div class="form-header">
        <h3 class="form-title">Abrir registro de clase</h3>
        <app-button [button]="{
            type: 'button',
            classList: 'btn btn-primary btn-big',
            icon: 'ti ti-library-plus',
            iconPos: 'right',
            onClick: registerClassEntry
        }">
            Abrir registro
        </app-button>
    </div>
    <div class="form-body">
        <!-- <app-input-autocomplete searchBy="name" [options]="courses" [(ngModel)]="selectedCourse" [input]="{
            type: 'text',
            name: 'lab',
            placeholder: 'Laboratorio',
            placeholderIsFloating: true
        }" />

        <app-input-autocomplete searchBy="name" [options]="courses" [selectedOption]="selectedCourse" [input]="{
            type: 'text',
            name: 'group',
            placeholder: 'Grupo',
            placeholderIsFloating: true
        }" /> -->

        <app-input-autocomplete searchBy="name" [options]="courses"  [(selectedOption)]="selectedCourse" [input]="{
            type: 'text',
            name: 'course',
            placeholder: 'Curso',
            placeholderIsFloating: true
        }" />

        <!-- <app-input-autocomplete searchBy="name" [options]="courses" [selectedOption]="selectedCourse" [input]="{
            type: 'text',
            name: 'teacher',
            placeholder: 'Maestro',
            placeholderIsFloating: true
        }" /> -->
    </div>

    <!-- <p-autoComplete styleClass="input-autocomplete" name="course" [(ngModel)]="selectedCourse"
        [suggestions]="filteredCourses" (completeMethod)="filterCourse($event)" field="name" [dropdown]="true"
        placeholder="Nombre de la clase" [forceSelection]="true">
        <ng-template let-course pTemplate="item">
            <div class="d-flex flex-column">
                <span>{{ course.name }}</span>
                <span style="color: #E14D2A;">{{ course.professor.name }} - {{course.group}}</span>
            </div>
        </ng-template>
    </p-autoComplete> -->
</form>