<div class="input-container" [ngClass]="{
    'input-floating':input.placeholderIsFloating
}">
    <input [id]="input.id" [name]="name" [type]="input.type" [(ngModel)]="ngModel"
        [ngClass]="['input',input.classList||'']" (focus)="isFocused = true"
        (blur)="isFocused = false"
        [placeholder]="input.placeholderIsFloating?'':input.placeholder">

    <label *ngIf="input.placeholderIsFloating" class="input-placeholder" [ngClass]="{
            'focus': isFocused,
            'content': ngModel!=null&&ngModel!=''
        }">
        {{ input.placeholder }}
    </label>

</div>