<div class="input-container input-container-autocomplete" [ngClass]="{
    'input-floating':input.placeholderIsFloating,
    'focus': isFocused,
}">
    <p-autoComplete [(ngModel)]="selectedOption" [suggestions]="filteredOptions" [name]="input.name"
        (ngModelChange)="onSelectedOptionChange($event)" (completeMethod)="filterOptions($event)" [field]="searchBy" [dropdown]="true"
        [forceSelection]="true" inputStyleClass="input input-autocomplete {{input.classList}}"
        (onFocus)="isFocused = true"
        (onBlur)="isFocused = false"
        [placeholder]="input.placeholderIsFloating?'':input.placeholder">
        <!-- Custom Dropdown Icon -->
        <ng-template pTemplate="dropdownicon">
            <i class="icon ti ti-caret-down-filled"></i>
        </ng-template>

        <ng-template let-course pTemplate="item">
            <div class="d-flex flex-column">
                <span>{{ course[searchBy] }}</span>
            </div>
        </ng-template>

    </p-autoComplete>


    <label *ngIf="input.placeholderIsFloating" class="input-placeholder" [ngClass]="{
        'focus': isFocused,
    }">
        {{ input.placeholder }}
    </label>

</div>