<div class="input-container input-container-autocomplete" [ngClass]="{
    'input-floating':input.placeholderIsFloating,
    'focus': isFocused,
    'input-disabled': disabled,
}">
    <p-autoComplete [(ngModel)]="ngModel" [suggestions]="filteredOptions" [name]="name"
        (completeMethod)="filterOptions($event)"
        (onFocus)="isFocused = true"
        (onBlur)="isFocused = false"
        [placeholder]="input.placeholderIsFloating?'':input.placeholder"
        [field]="searchBy"
        [dropdown]="true"
        [forceSelection]="true"
        inputStyleClass="input input-autocomplete {{input.classList}}"
        [disabled]="disabled">
        <!-- Custom Dropdown Icon -->
        <ng-template pTemplate="dropdownicon">
            <i class="icon ti {{disabled?'ti-lock':'ti-caret-down-filled'}}"></i>
        </ng-template>

        <ng-template let-option pTemplate="item">
            <div class="d-flex flex-column">
                <span>{{ labelBy?option[labelBy]:option }}</span>
            </div>
        </ng-template>

    </p-autoComplete>


    <label *ngIf="input.placeholderIsFloating" class="input-placeholder" [ngClass]="{
        'focus': isFocused,
    }">
        {{ input.placeholder }}
    </label>

</div>