@font-face {
    font-family: "Barlow";
    src: local("Barlow"), url(./assets/fonts/Barlow-Regular.ttf) format("truetype");
}

body {
    font-family: 'Barlow', sans-serif !important;
    color: #0F4C75;
}